#logonav {
  width: 150px;
}
section {
  min-height: 100vh;
  padding: 50px 0px;
}
#carouselExampleIndicators {
  height: 90vh;
  display: flex;
  align-items: center;
}

.text-blue {
  color: black !important;
}
.bg-blue {
  background-color: black;
}

a {
  transition: 0.3s;
}
a:hover {
  color: black !important;
}

#carosel-section {
  min-height: 100vh;
  padding: 0px;
}

#image-carosel {
}

#text-carosel {
  padding-left: 15%;
}
#promo {
  text-decoration: line-through;
}

.header-card {
  position: relative;
}
.card-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000062;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  display: none;
  transition: all 0.4s !important;
}
.card-hover > span {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

.card:hover .card-hover {
  display: flex;
}
.card {
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.02);
  z-index: 1;
}

/* 
git add .
git commit -m "first commit"
git remote add origin https://github.com/cybersafellc/project-clothingan-sir.git
git branch -M main
git push -u origin main */

.promo {
  position: absolute;
  top: -10px;
  background-color: red;
  color: white;
  font-weight: normal;
  padding: 5px 30px;
  right: -10px;
  border-radius: 0px;
}
#promo > span {
  text-decoration: none;
}

.promo::before {
  content: "";
  height: 23px;
  width: 23px;
  background-color: #dadcde;
  z-index: 1;
  position: absolute;
  transform: rotate(45deg);
  right: -11px;
}

/* breakpoint */
/* 992px - LG */
@media screen and (max-width: 992px) {
  #text-carosel {
    padding-left: 0%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text-carosel > * {
    text-align: center;
  }
  #image-carosel {
    width: 30% !important;
  }
}

@media screen and (max-width: 768px) {
  #image-carosel {
    width: 50% !important;
  }
}

@media screen and (max-width: 576px) {
  #image-carosel {
    width: 70% !important;
  }
}
